.CMTV_UC
{	
	&-ucItem
	{
		&--full
		{
			.changesNumContainer
			{
				text-align: center;
				
				@media (max-width: @xf-responsiveMedium)
				{
					dt
					{
						padding-right: @xf-paddingSmall !important;
						font-size: 100%;
						
						&:after
						{
							display: inline;
							content: ':';
						}
					}
				}
			}
		}
	}
}