<xf:title>{{ phrase('CMTV_UC_x_username_changes', {'name': $user.username}) }}</xf:title>

<xf:breadcrumb href="{{ link('members', $user) }}">{$user.username}</xf:breadcrumb>

<xf:if is="$usernameChanges is not empty">
	<xf:pageaction>
		<xf:if is="$xf.visitor.canEditUsernameChangesHistory($user)">
			<xf:if is="!$editView">
				<xf:button href="{{ link('members/username-changes', $user, {'edit': 1}) }}" icon="edit">{{ phrase('edit_history') }}</xf:button>
				<xf:else />
				<xf:button href="{{ link('members/username-changes', $user) }}" 
						   fa="fa-arrow-left"
						   class="button--link">
					{{ phrase('CMTV_UC_normal_view') }}
				</xf:button>
			</xf:if>
			
			<xf:button href="{{ link('members/username-changes/clear', $user) }}" 
					   icon="delete" 
					   overlay="true">
				{{ phrase('CMTV_UC_clear_history') }}
			</xf:button>
		</xf:if>
	</xf:pageaction>
	
	<xf:form action="{{ link(($editView ? 'members/username-changes/edit' : ''), $user) }}" class="block">
		<div class="block-container">
			<div class="block-body">
				<xf:datalist>
					<xf:datarow rowtype="header">
						<xf:if is="$editView"><xf:cell></xf:cell></xf:if>
						
						<xf:cell>{{ phrase('CMTV_UC_old_username') }}</xf:cell>
						<xf:cell>{{ phrase('CMTV_UC_new_username') }}</xf:cell>
						<xf:cell colspan="2">{{ phrase('CMTV_UC_changed') }}</xf:cell>
					</xf:datarow>
					
					<xf:foreach loop="$usernameChanges" value="$usernameChange">
						<xf:macro name="uc_item" arg-usernameChange="{$usernameChange}" arg-editView="{$editView}" />
					</xf:foreach>
				</xf:datalist>
			</div>
			
			<div class="block-footer block-footer--split">
				<span class="block-footer-counter">
					{{ phrase('CMTV_UC_x_username_changes_in_total', { 'total': $user.cmtv_uc_username_changes }) }}
				</span>
				<xf:if is="$editView">
					<span class="block-footer-controls"><xf:button type="submit" icon="delete" overlay="true" /></span>
				</xf:if>
			</div>
		</div>
	</xf:form>
<xf:else />
	<div class="blockMessage">
		{{ phrase('CMTV_UC_x_has_empty_username_change_history', {'name': $user.username}) }}
	</div>
</xf:if>

<xf:macro name="uc_item" arg-usernameChange="!" arg-editView="!">
	<xf:datarow>
		<xf:if is="$editView">
			<xf:toggle name="selected[]" value="{$usernameChange.change_id}" />
		</xf:if>
		
		<xf:cell class="dataList-minorRow">{$usernameChange.old_username}</xf:cell>
		<xf:cell class="dataList-mainRow">{$usernameChange.new_username}</xf:cell>
		<xf:cell colspan="{{ $usernameChange.from_acp ? 1 : 2 }}"><xf:date time="$usernameChange.change_date" /></xf:cell>
		
		<xf:if is="$usernameChange.from_acp">
			<xf:cell class="dataList-cell--min" data-xf-init="tooltip" title="{{ phrase('CMTV_UC_username_changed_from_acp') }}">
				<xf:fa icon="fa-gavel" />
			</xf:cell>
		</xf:if>
	</xf:datarow>
</xf:macro>