<xf:title>{{ phrase('confirm_action') }}</xf:title>

<xf:form action="{{ link('username-changes/clear', $user) }}" ajax="true" class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:inforow rowtype="confirm">
				{{ phrase('please_confirm_that_you_want_to_delete_following:') }}
				<strong>{{ phrase('CMTV_UC_x_username_changes', { 'total': $user.CMTV_UC_username_changes }) }}</strong>
			</xf:inforow>
		</div>
		<xf:submitrow rowtype="simple" icon="delete" />
	</div>
</xf:form>